$pirmary-color:#333333;
$secondary-color: #666666;
body{
  background-color: #f5f6fa;
}
.login-panel {
  .el-form-item__label,
  .el-radio__label {
    color: #dddddd;
  }
  .el-form--label-top .el-form-item__label{
    padding: 0;
  }
}
.el-dialog__header{
  text-align: left;
}

.el-menu {
  border-right: none;
  text-align: left
}
.el-breadcrumb{
  font-size: 16px;
}
.el-form-item__error{
  line-height: 1.5;
}
.el-submenu .el-menu-item {
  background-color: #1d2531 !important;
}
.home-container {
  position: relative;
  overflow-x: hidden;
}
.el-submenu .el-menu-item.is-active{
  border-right: 4px solid #409eff;
}
// sidebar style
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1d2531 !important;
}
// header style

.main-container {
  position: relative;
  margin-left: 200px;
  box-sizing: border-box;
  transition: 0.5s; 
}
.content-container{
  padding: 20px 50px;
  
}
.header-container {
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
}
.hide-sidebar {
  margin-left: 64px;
  transition: 0.3s;
}
.search {
  .el-input {
    width: 0;
    transition: width 0.5s;
    .el-input__inner {
      border: none;
      padding: 0 25px 0 5px;
      background-color: transparent;
    }
  }
  .has-width {
    .el-input {
      width: 227px;
      border-bottom: 1px solid #dcdfe6;
    }
  }
}
// dashboard style
.dashboard {
  padding: 30px;
  .model-title{
      text-align: left;
      margin-bottom: 30px;
      b{
          font-size: 24px;
          color: $pirmary-color;
      }
      span{
          color: $secondary-color;
      }
  }
  .el-row{
      margin: 0 -15px!important;
  }
  .el-col {
    padding: 0 15px!important;
    &:nth-child(1) {
        .el-card{
            background-color: #f56c6c;
        }
    }
    &:nth-child(2) {
        .el-card{
            background-color: #67c23a;
        }
    }
    &:nth-child(3) {
        .el-card{
            background-color: #409eff;
        }
    }
    &:nth-child(4) {
        .el-card{
            background-color: #e6a23c;
        }
    }

  }
  .card-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    .item-icon {
      i{
          font-size: 48px;
      }
    }
    .item-message{
        .font{
            font-size: 16px;
        }
        .num{
            font-size: 28px;
        }
    }
  }
  .echarts-box,
  .table-box{
    margin-top: 30px;
  }
  .echarts-box{
      .line-echarts,
      .columnar-echarts{
          position: relative;
          background-color: #fff;
          width: 49%;
          padding: 30px;
          display: flex;
          box-sizing: border-box;
          justify-content: space-between;
      }
  }
}
.echarts-container,
.table-content{
    display: flex;
    justify-content: space-between;
}
.table-content{
    .table-item{
        width: 49%;
    }
}
// form
.filter-box{
  margin-bottom: 20px;
  text-align: left;
}
.filter-box .demo-form-inline{
  padding: 20px 20px 0;
}
.filter-box .el-form-item{
  margin-right: 50px;
  margin-bottom: 15px;
}
.filter-box .el-form-item .el-select,
.filter-box .el-form-item .el-input{
  width: 220px;
}
.el-date-editor .el-range-separator{
  width: 15%;
}
.filter-box  .filter-btn {
  border-top: 1px solid #e4e7ed;
  background-color: #f5f7fa;
  margin-top: 10px;
  text-align: right;
  padding: 7px 30px 7px 0;
}
.filter-box .el-tabs--border-card>.el-tabs__content{
  padding: 0;
}
.page-block{
  margin: 30px auto;
  text-align: right;
}
.dialog-form .el-input{
  width: 380px;
}
.dialog-form .el-checkbox-group,
.dialog-form .el-radio-group {
  width: 380px;
  text-align: left;
}
.dialog-form .el-checkbox-group .el-checkbox {
  float: left;
  width: 160px;
}